<nav class="navigation">
    <ul>
        <li class="list">
            <a href="#">
                <span class="icon pi pi-home"></span>
                <span class="text">На главную</span>
                <span class="circle"></span>
            </a>
        </li>
        <li class="list">
            <a href="#">
                <span class="icon pi pi-search"></span>
                <span class="text">Поиск</span>
                <span class="circle"></span>
            </a>
        </li>
        <li class="list">
            <a href="#">
                <span class="icon pi pi-comment"></span>
                <span class="text">Чат</span>
                <span class="circle"></span>
            </a>
        </li>
        <li class="list">
            <a href="#">
                <span class="icon pi pi-sign-in"></span>
                <span class="text">Вход</span>
                <span class="circle"></span>
            </a>
        </li>
    </ul>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>